.google{
        background-color: white
}
.text{
      padding: 4px;
    margin: 4px;
    border-radius: 5px;
    padding-right: 75px;

}
.Fullname{
   
    font-weight: bold;
}
.email{
    font-weight: bold;
}
.textemail{
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
    padding-right: 75px;

}
.feedback{
   font-weight: bold; 
}
.WriteyourFeedback{
       padding-bottom: 39px;
    padding-right: 75px;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 8px;
}
.submit{
    color: rgb(239, 238, 238);
    background-color: rgb(21, 21, 148);
    padding-right: 106px;
    padding-left: 92px;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 8px;
    margin-top: 8px;
}
