.google{
    background-color: aqua;
}
.text{
       padding: 4px;
    margin: 4px;
    border-radius: 5px;

}
.Fullname{
   
    font-weight: bold;
}
.email{
    font-weight: bold;
}
.textemail{
     padding: 4px;
    margin: 4px;
    border-radius: 5px;

}
.feedback{
   font-weight: bold; 
}
.WriteyourFeedback{
    padding-bottom: 39px;
    padding-right: 82px;
    border-radius: 4px;
}
.submit{
        color: rgb(239, 238, 238);
    background-color: rgb(21, 21, 148);
    padding-right: 75px;
    padding-left: 63px;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 8px;
}
