.google{
    background-color: aqua;
}
.text{
       padding: 4px;
    margin: 4px;
    border-radius: 5px;

}
.Fullname{
   
    font-weight: bold;
}
.email{
    font-weight: bold;
}
.textemail{
     padding: 4px;
    margin: 4px;
    border-radius: 5px;

}
