.Student{
    background-color: rgb(46, 215, 77);
    color: black;
}
.Studentname{
 padding: 40px;
}
.text{

}
.Rollnumber{

}
.numtext{

}
.numtext{

}
.whichclass{

}
.Dateofbirth{

}
.dateofbirth{

}
.Phone{

}
.phonenum{

}
.Address{

}
.address{

}
.Register{

}