.Student{
    font-weight: bold;
    color: black;
}
.Studentname{
 padding:1px;
 font-weight: bold;

}
.text{
      padding-right: 88px;
    border-radius: 5px;
    margin-left: 4px;
    padding-left: 11px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.Rollnumber{
 padding:1px;
 font-weight: bold;
}
.numtext{
  padding-right: 88px;
    border-radius: 5px;
    margin-left: 4px;
    padding-left: 11px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.class{
padding:1px;
 font-weight: bold;
}
.whichclass{
 padding-right: 88px;
    border-radius: 5px;
    margin-left: 4px;
    padding-left: 11px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.Dateofbirth{
padding:1px;
 font-weight: bold;
}
.dateofbirth{
 padding-right: 88px;
    border-radius: 5px;
    margin-left: 4px;
    padding-left: 11px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.Phone{
padding:1px;
 font-weight: bold;
}
.phonenum{
padding-right: 88px;
    border-radius: 5px;
    margin-left: 4px;
    padding-left: 11px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.Address{
padding:1px;
 font-weight: bold;
}
.address{
padding-right: 88px;
    border-radius: 5px;
    margin-left: 4px;
    padding-left: 11px;
    padding-top: 7px;
    padding-bottom: 3px;
}
.Register{
padding-right: 120px;
    background-color: rgb(46, 231, 46);
    padding-left: 97px;
    margin-top: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
}
.googleform{
      background-color: rgb(255 96 96);
    width: 256px;
    padding-top: 10px;
    padding-right: 31px;
    padding-left: 28px;
    padding-bottom: 40px;
    padding-bottom: 13px;
    
    border-radius: 13px;
}
body{
    place-items: center;
}
