.google{
        background-color: white
}
.text{
      padding: 4px;
    margin: 4px;
    border-radius: 5px;
    padding-right: 75px;

}
.Fullname{
       font-weight: bold;
    margin-left: -168px;
}
.email{
    font-weight: bold;
    margin-left: -198px;
}
.textemail{
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
    padding-right: 75px;

}
.feedback{
    font-weight: bold;
    margin-left: -176px;
}
.WriteyourFeedback{
       padding-bottom: 39px;
    padding-right: 75px;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 8px;
}
.submit{
    color: rgb(239, 238, 238);
    background-color: rgb(21, 21, 148);
    padding-right: 106px;
    padding-left: 92px;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 8px;
    margin-top: 8px;
}
.googleform{
        text-align: center;
  
    background-color: rgb(188, 173, 201);

    padding-top: 10px;
    padding-right: 31px;
    padding-left: 28px;
    padding-bottom: 40px;
    padding-bottom: 13px;
}
.Rate{
    font-weight: bold;
    margin-left: -138px;
}
.radio{
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
}
body{
        place-items: center;

}